{% load static%}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for i in process%}
  <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nº {{i.number}}</h5>
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Classe: {{i.judicialClass}}</h6>
          <h6 class="card-text">Assunto: {{i.topic}}</h6>
          <h6 class="card-text">Partes:</h6>
          <ul class="">
            {% for part in i.parts.all%}
            <li class="">{{part.name}}</li>
            {% endfor %}
          </ul>
          <p class="card-text">Juiz: {{i.judge}}</p>
        </div>
        <i class="bi bi-pencil-square"><a href="{% url 'process_detail' i.id %}" class="card-link">Abrir</a></i>
        <i class="bi bi-trash3-fill" style="color: red"><a href="{% url 'process_delete' i.id %}" class="card-link">Excluir</a></i>
      </div>
  </div>
  {% endfor %}
</div>
