{% load static%}

<div class="col">
  {% for i in process%}
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Processo: {{i.number}}</h5>
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Classe: {{i.judicialClass}}</h6>
          <h6 class="card-text">Assunto: {{i.topic}}</h6>
          <h6 class="card-text">Partes:</h6>
          <ul class="">
            {% for part in i.parts.all%}
            <li class="">{{part.name}}</li>
            {% endfor %}
          </ul>
          <p class="card-text">Juiz: {{i.judge}}</p>
        </div>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
  </div>
  {% endfor %}
</div>
