{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Detalhe Processo</title>
        {% include 'components/head.html' %}
    </head>
    <body>
        <header>
            {% include 'components/navbar.html' %}
        </header>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <h1>Processo: Nº{{process.number}}</h1>
                    <h2>Classe: {{process.judicialClass}}</h2>
                    <h4>Assunto: {{process.topic}}</h4>
                    <h5>Partes:</h5>
                    <ul class="">
                        {% for part in i.parts.all%}
                        <li class="">{{part.name}}</li>
                        {% endfor %}
                      </ul>
                </div>
                <a class="btn btn-primary" href="{% url 'add_parts' %}">Adicionar Parte</a>
            </div>
        
        <script src="" async defer></script>
    </body>
</html>