<div class="container mt-3">
    <form method="get">
        <div class="hstack gap-3">
            <input class="form-control me-auto" type="text" placeholder="Pesquise o número do processo..." aria-label="Add your item here...">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
            <div class="vr"></div>
            <button type="button" class="btn btn-outline-danger">Reset</button>
        </div>      
    </form>
</div>